@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

/* the draggable */
::-webkit-scrollbar-thumb {
  background-color: #a5b4fc;
  border-radius: 10px;
  border: 3px solid #18181b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #818cf8;
}

.outter-padding {
  @apply flex flex-col p-8 bg-zinc-900 justify-center;
}

.low-opacity-text-box {
  @apply p-1 px-2 sm:px-3 rounded-full bg-zinc-800 bg-opacity-40 text-center text-[9px]
}