@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

/* the draggable */
::-webkit-scrollbar-thumb {
  background-color: #a5b4fc;
  border-radius: 10px;
  border: 3px solid #18181b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #818cf8;
}

.outter-padding {
  @apply flex flex-col p-2 sm:p-8 justify-center;
}

.low-opacity-text-box {
  @apply p-1 px-2 sm:px-3 rounded-full bg-zinc-800 bg-opacity-40 text-center text-[10px]
}

.dark {
  --background: 24,24,27;
  --text-color: 255, 255, 255;
  --box-background: 49,46,129; 

}

.light {
  --background: 245,245,244;
  --text-color: 64,64,64;
  --border-color: 231,229,228; /* Border color */
  --box-background: 242, 242, 237;
}

* {
  font-family: var(--font-commisioner);
  color: rgba(var(--text-color), 1);
  /* border-color: rgba(var(--border-color), 1); */
}

section, nav{
  background-color: rgba(var(--background), 1);

}

h1 {
  font-family: var(--font-dmMono);
}

.box {
  background-color: rgba(var(--box-background), 1);
  border: 1px solid;
  border-color: rgba(var(--border-color), 1);
  color: rgba(var(--text-color), 1);
}