@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'durer';
  src: url('../assets/durer-webfont.woff2') format('woff2'),
       url('../assets/durer-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
